<html>
    <h1 style="text-align: center; font-size: 50px; font-family: Poppins;">Bienvenue sur le site du Port de Plaisance Russel</h1>
    <p style="text-align: center; margin-top: 100px; margin-bottom: 50px; font-size: 25px; font-family: Poppins">Choisissez une option :</p>
    <div style="text-align: center; "><button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;"><a href="login" style="color: white; text-decoration: none;">Me connecter</a></button> <button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;"><a href="register" style="text-decoration: none; color: white;">M'inscrire</a></button></div>
    <p style="margin-top: 50px; font-size: 20px; font-family: Poppins; text-align: center;"><a href="about" style="color: grey; text-decoration: none;">Comment faire fonctionner l'API ?</a></p>
</html>