<html>
    <h1 style="text-align: center; font-size: 50px; font-family: Poppins;">Bienvenue sur le site du Port de Plaisance Russel</h1>
    <p style="text-align: center; margin-top: 100px; margin-bottom: 100px; font-size: 25px; font-family: Poppins">Choisissez une options :</p>
    <div style="text-align: center; "><button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;">Me connecter</button> <button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;">M'inscrire</button></div>

</html>